.wrapper {
    background-color: #EBEBEB;
    margin: 10px 500px 10px;
    padding: 1% 1% 1%;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #52ab98, 
      #c8d8e4
    ) 1 100%;
  }
  
  .wrapper fieldset {
    margin: 20px 0;
  }